/* General */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --bg: #122;
    --bg-hover: #244;
    --bg-active: #355;
    --bg-off: #333;
    --bg-plain: #111;
    --bg-invite: #244;
    --bg-status: #ccc;
    --bg-wave: #103030;
    --fg: #cff;
    --fg-status: #333;
    --border-plain: #222;
    --link-color: #fcc;
    --link-color-status: #00a;

    --wave-too-soft: #333;
    --wave-too-loud: #700;
    --user-list-silent: #000;
    --user-list-speaking: #2b552b;
    --video-speaking-sel: #090;
    --video-speaking: #5e8f52;
    --video-silent-sel: #999;
    --video-silent: #000;

    --nopeak-1: #200;
    --peak-1:   #800;
    --nopeak-2: #220;
    --peak-2:   #880;
    --nopeak-3: #020;
    --peak-3:   #080;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

a {
    color: var(--link-color);
}

.cflex {
    display: flex;
    flex-direction: column;
}

.rflex {
    display: flex;
    align-items: center;
    overflow: auto hidden;
}

.bigrflex {
    display: flex;
    align-items: start;
    gap: 0.25em;
}

.panel {
    display: none;
    position: fixed;
    box-sizing: border-box;
    min-width: 20em;
    max-height: 90%;
    left: 1em;
    top: 1em;
    margin-left: 1em;
    padding: 2em 0.5em 0.5em 0.5em;
    background-color: var(--bg-plain);
    border: 1px solid var(--border-plain);
    border-radius: 0.25em;
    overflow: auto;
}

.row {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.5em;
}

.main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--bg-wave);
    border-bottom: 2px solid var(--fg);
}

#project {
    flex: auto;
    overflow: auto;
    white-space: nowrap;
}

.status-bar {
    background: var(--bg-status);
    color: var(--fg-status);
    padding: 0.1em 1em 0.1em 1em;
    text-align: center;
}

.status {
    flex: auto;
    text-align: center;
    padding: 0.25em;
    cursor: default;
}

.status a {
    color: var(--link-color-status);
}

.layer-separator {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

.dialog-wrapper {
    display: none;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.dialog-wrapper-inner {
    display: flex;
    flex-direction: row;
}

.stretch {
    flex: auto;
}

.dialog {
    position: relative;

    background-color: var(--bg-wave);
    border: 2px solid var(--fg);
    border-radius: 0.25em;
    padding: 1em;

    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
}

#zoom-selector {
    display: none;
    width: 100%;
}

button:not(.plain), .button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    background-color: var(--bg);
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    font-size: 1rem;
    line-height: 2.95em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 0.5em 0 0.5em;
}

button.nouppercase, .button.nouppercase {
    text-transform: none;
}

button.small, .button.small {
    height: 1.5em;
    line-height: 1.6em;
}

button:not(.plain):focus, .button:focus {
    outline: 1px dotted rgba(255, 255, 255, 0.35);
    outline-offset: -0.5em;
}

button:not(.plain):hover, .button:hover {
    background-color: var(--bg-hover);
    border-radius: 1em;
}

button.off, button.off:hover {
    background-color: var(--bg-off);
    border-radius: 0;
}

button.close-button {
    position: absolute;
    height: 2em;
    line-height: 2em;
    top: 0.25em;
    right: 0.25em;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: var(--bg);
    color: #fff;
    border-radius: 0;
    border: none;
    border: solid 1px;
    outline: 0;
    padding: 0.5em;
    text-decoration: none;
}

select:hover {
    background-color: var(--bg-hover);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: var(--bg);
    border: 1px solid #fff;
    padding: 0.6em;
    margin: 0;
}

input[type="checkbox"]:hover {
    background-color: var(--bg-hover);
}

input[type="checkbox"]:checked:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    content: "\f00c";
    position: absolute;
    font-size: 0.9em;
    left: 0.15em;
    top: 0.1em;
}

label.ez {
    display: inline-block;
    width: 20em;
    text-align: right;
}

/* Tracks */
.track-spacer {
    min-height: 2em;
}

.track-info {
    display: inline-block;
    position: sticky;
    left: 0px;
    z-index: 1;
    box-sizing: border-box;
    height: 128px;
    width: 128px;
    overflow: auto;
    white-space: normal;
    background-color: var(--bg-wave);
    border: 2px solid var(--fg);
    will-change: transform;
}

.track-display {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.selection-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 128px;
}
